*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    background-color: black;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
header{
    display: flex;
    justify-content:space-between;
    width: 80%;
    margin:auto;
    align-itmes:center;
    padding: 20px 0;
}
.log{
    width: 40px;
}
ul li{
    display:inline-block;
    list-style: none;
}
ul li a{ 
    color: aliceblue;
    text-decoration: none;
    margin: 0 10px;

}
.contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.contain .text{
    width:40%;
    color:#fff;

}
.contain .text h2{
    font-size: 40px;
    text-transform: uppercase;

}
.contain .text p{ 
    font-size: 18px;
    margin: 20px 0;

}
.contain .text a{
    text-decoration: none;
    background: #fff;
    color:black;
    padding: 8px 15px;
    border-radius: 20px;
   

}
.contain .image{
    width: 30%;
}
.contain .image img{
    width: 180px;
}
.icons{ 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.icons img {
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.icons img:hover{
    transform:scale(1.2)

}